################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CruzacalleUWP/CruzacalleUWP/bin/WindowsUniversal
