################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CruzacalleUWP/CruzacalleUWP/bin/WindowsUniversal
/CruzacalleUWP/CruzacalleUWP/Content/bin/WindowsStoreApp
/CruzacalleUWP/CruzacalleUWP/obj
/CruzacalleUWP/CruzacalleUWP/Content/obj/WindowsStoreApp
/CruzacalleUWP/.vs/CruzacalleUWP
/.vs
